{% extends 'base.html.twig' %}

{% block title %}AppBundle:Book:list{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to the Book list page</h1>
        <div class="text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
        <table id="books-list" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Language</th>
                <th>Date</th>
                <th>ISBN</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr class="book-item">
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.language }}</td>
                    <td>{{ book.date }}</td>
                    <td>{{ book.isbn }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Language</th>
                <th>Date</th>
                <th>ISBN</th>
            </tr>
            </tfoot>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
             aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="addModalLabel">
                            Add book
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div id="notification"></div>
                        <form action="{{ path('create') }}" method="POST" role="form" id="add-book-form">
                            <div class="form-group">
                                <label for="addInputTitle">Title</label>
                                <input type="text" name="title" class="form-control"
                                       id="addInputTitle" placeholder="Title" required/>
                            </div>
                            <div class="form-group">
                                <label for="addInputAuthor">Author</label>
                                <select name="author" class="form-control" id="addInputAuthor" required>
                                    <option value="">Choose author</option>
                                    {% for author in authors %}
                                        <option value="{{ author.id }}">{{ author.firstname ~ ' ' ~ author.lastname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="addInputGenre">Genre</label>
                                <select name="genre" class="form-control" id="addInputGenre" required>
                                    <option value="">Choose genre</option>
                                    {% for genre in genres %}
                                        <option value="{{ genre.id }}">{{ genre.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="addInputLanguage">Language</label>
                                <input type="text" name="language" class="form-control"
                                       id="addInputLanguage" placeholder="Language" required/>
                            </div>
                            <div class="form-group">
                                <label for="addInputDate">Date</label>
                                <input type="text" name="date" class="form-control"
                                       id="addInputDate" placeholder="Date" required/>
                            </div>
                            <div class="form-group">
                                <label for="addInputISBN">ISBN</label>
                                <input type="text" name="isbn" class="form-control"
                                       id="addInputISBN" placeholder="ISBN" required/>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-plus"></i> Add
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#books-list').DataTable();

            $('tr.book-item')
                .mouseover(function() {
                    $('<div class="edit-book text-right"><a href=""><i class="glyphicon glyphicon-pencil"></i></a></div>')
                        .appendTo($(this).find('td:first'));
                    $(this).css('background-color', '#ccc');
                })
                .mouseout(function() {
                    $(this).find('td:first div').remove();
                    $(this).css('background-color', '#fff');
                })
                .click(function() {
                    $('#addModal').modal();
                });

            $('#addInputISBN').inputmask('999-9999999999');

            $("#addInputDate").datepicker( {
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years"
            });

            $('#add-book-form').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: this.method,
                    url: this.action,
                    data: $(this).serialize(),
                    success: function(json) {
                        $('#notification').html('');

                        if (json.status) {
                            $('#notification').html('<div class="alert alert-success">Book added successfully!</div>');
                            $('#add-book-form input').val('');

                            setTimeout(function () {
                                $('#addModal').modal('toggle');
                                location.reload();
                            }, 2000);
                        } else {
                            $('#notification').html('<div class="alert alert-danger">Something wrong!</div>');

                            setTimeout(function () {
                                $('#notification').html('');
                            }, 2000);
                        }
                    },
                    fail: function (e) {
                        console.log(e, 'Error');
                    }
                });
            });
        } );
    </script>
{% endblock %}